/* aquablue: #ADDDCE*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
	font-weight: bold;
}



/* ------------------------------------------------------------*/



body {
  padding: 0;
  /*background-image: url(../images/IMG_2667.jpeg);*/
}  

.navigation-bar {
	display: inline;
	float: right;
	margin-top: 30px;
	margin-right: 25px;
	font-family: 'Oxygen', sans-serif;
	font: black;

}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

a:active {
  text-decoration: underline;
  color: black;
}

.content-wrap {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.denisehodgson {
	width: 500px;
	height: 250px;
	margin-top: 75px;
	grid-column: auto / span 2;
	grid-row: auto / span 2;
}

.giphy {
	width: 350px;
	height: 500px;
	grid-row: auto / span 2;
	margin-top: 80px;
	margin-bottom: 50px;
	margin-left: 350px;
}

.giphytwo {
	width: 350px;
	height: 500px;
	padding-right: 300px;
	margin-left: 30px;
	margin-right: 60px;
	margin-top: 300px;
	margin-bottom: 50px;
	grid-row: auto / span 2;
}

.uxdesigner {
	width: 550px;
	height: 250px;
	margin-left: 200px;
	margin-top: -275px;
}

.aboutmebg {
	margin-left: 150px;
	margin-right: 150px;
}


.content-wrap-two {
	background-color: #B0E0E6;
	font-family: 'Montserrat', sans-serif;
	padding: 50px;
	line-height: 30px;
}

.content-wrap-three {
	background-color: #ADDDCE;
	font-family: 'Montserrat', sans-serif;
	padding: 50px;
	line-height: 30px;
	padding-left: 200px;
	padding-right: 200px;
}

.content-wrap-four {
	background-color: #EBC3C1;
	margin-left: 200px;
	margin-right: 200px;
}

.content-wrap-five {
	background-color: lightblue;
	font-family: 'Montserrat', sans-serif;
	margin-left: 150px;
	margin-right: 150px;
}

.yeseva-one {
	font-family: 'Yeseva One', cursive;
	font-size: 60px;
	padding-top: 50px;
	padding-bottom: 50px;
}




.heading {
	background-color: white;
	font-family: 'Yeseva One', cursive;
	font-size: 60px;
	padding-top: 100px;
	padding-bottom: 75px;
	text-align: center;
	
}

.heading-two {
	background-color: white;
	font-family: 'Yeseva One', cursive;
	font-size: 60px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

/* -------------- WORK EXPERIENCE / VOLUNTEER EXPERIENCE --------------- */

.volunteer-grid {
	background-color: #FFF6A7;
	font-family: 'Montserrat', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.volunteer-title {
	font-family: 'Yeseva One', cursive;
 	font-size: 30px;
 	text-align: left;
 	line-height: 30px;
 	padding-top: 30px;
 	padding-bottom: 30px;
}

.volunteer-content {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
 	line-height: 25px;
 	padding-left: 30px;
 	padding-right: 30px;
	margin-left: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.aruba {
	padding-bottom: 10px;
}
.volunteer-image {
	width: 530px;
	height: 750px;
	padding-top: 30px;
	padding-right: 200px;
	padding-bottom: 30px;
}

/* --------------------- EDUCATION -------------------- */
.graduationgif {
	width: 500px;
	height: 750px;
	padding-top: 30px;
	padding-left: 225px;
	padding-bottom: 30px;
	grid-column: 1;
	
}

.cmd {
	font-family: 'Yeseva One', cursive;
 	font-size: 30px;
 	text-align: left;
 	line-height: 30px;

 	padding-top: 30px;
 	padding-bottom: 30px;
}

.thuas {
	padding-left: 52px;
	padding-bottom: 10px;
}

.colegio {
	padding-bottom: 10px;
}

.education-content {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: left;
 	line-height: 25px;
 	padding-left: 30px;
 	padding-right: 30px;
	margin-right: 230px;
	margin-top: 30px;
	margin-bottom: 30px;
	grid-column: 2;
}

.education-grid {
	background-color: #c3e7f0;
	font-family: 'Montserrat', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr;
}


/* ------------------ PROJECTS ----------------- */
 
.projects-grid {
 	background-color: #D8BFD8;
 	font-family: 'Montserrat', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
 }

.project-headers {
 	font-family: 'Yeseva One', cursive;
 	font-size: 40px;
 	text-align: center;
 	padding-top: 30px;
 	padding-bottom: 30px;
}

.project-content {
	text-align: left;
	font-size: 20px;
	line-height: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

.view-hallmark {
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	padding-right: 30px;
}

.view-projects {
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	padding-right: 30px;
	padding-top: 30px;

}

.view-programming {
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	padding-right: 30px;
	padding-top: 70px;
}

 .photography-image {
 	width: 500px;
	height: 500px;
	padding-top: 30px;
	padding bottom: 30px;
	margin-left: 250px;
	grid-column: 1;
 }

 .photography-content {
 	background-color: white;
 	margin-right: 250px;
 	margin-top: 30px;
 	
 }

 .hallmark-content {
 	background-color: white;
 	margin-left: 250px;
 	margin-top: 30px;
 }

.hallmark-image {
	width: 440px;
	height: 500px;
	margin-right: 150px;
	margin-top: 30px;
	grid-column: 2;
	grid-row: 2;
}

.app-image {
	width: 500px;
	height: 500px;
	padding-top: 30px;
	padding bottom: 30px;
	margin-left: 250px;
}

.app-content {
	background-color: white;
 	margin-right: 250px;
 	margin-top: 30px;
}

.processing-content {
	background-color: white;
 	margin-left: 250px;
 	margin-top: 30px;
 	margin-bottom: 30px;
}

.processing-image {
	width: 440px;
	height: 470px;
	margin-top: 30px;

}

/* ------------- PHOTOGRAPHY ---------------- */

.photolist {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	grid-auto-flow: dense;
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
}

img {
	width: 100%;
	height:100%;
	object-fit: cover;
}


.portrait {
	grid-row: auto / span 2;
}

.landscape {
	grid-column: auto / span 2;
}






.jive {
	width: 400px;
	height: 500px;
	padding: 100px;
}

/* -------------- PERSONAL TOOLBOX APP ---------------- */

.toolbox-grid {
	background-color: #2F4F4F;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.toolbox-content {
	font-family: 'Montserrat', sans-serif;
	line-height: 30px;
	background-color: white;
	margin-left: 400px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	grid-column: 1;
}

.toolbox-video {
	padding-top: 29px;
	padding-bottom: 27px;
	grid-column: 2;
}
.app-video {
	width: 300px;
	height: 650px;
}

/* -------------- INTANGIBLE GIFT-GIVING EXPERIENCE ---------------- */

.hallmark-grid {
	background-color: #5F9EA0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/*.hallmark-adobexd {
	position: absolute;
	width: 1100px;
	height: 400px;
	padding-left: 170px;
	padding-top: 30px;
}*/

.hallmark-text {
	font-family: 'Montserrat', sans-serif;
	line-height: 30px;
	background-color: white;
	margin-left: 170px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	grid-column: 1;
}
.hallmark-video {
	padding-top: 30px;
	padding-right: 100px;
	padding-bottom: 27px;
}

.snowboard-video {
	background-color: white;
	width: 550px;
	height: 750px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* -------------- PROGRAMMING ----------------*/

.programming-grid {
	background-color: #5F9EA0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.programming-text {
	font-family: 'Montserrat', sans-serif;
	line-height: 30px;
	background-color: white;
	margin-right: 200px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 50px;
	padding-bottom: 30px;
	margin-top: 30px;
}

.crossy-video {
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	margin-top: 30px;
	margin-left: 200px;
}

.crossy-road {
	width: 500px;
	height: 500px;
}

.bubbles-text {
	font-family: 'Montserrat', sans-serif;
	line-height: 30px;
	background-color: white;
	margin-left: 200px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 60px;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.bubbles-box {
	background-color: white;
	padding-top: 50px;
	padding-bottom: 30px;
	padding-right: 30px;
	margin-right: 200px;
	margin-bottom: 30px;
}

.bubbles-video {
	width: 500px;
	height: 500px;
}
/* -------------- CONTACT ---------------- */

.contact-header {
	font-family: 'Yeseva One', cursive;
	color: #FF6347;
 	font-size: 60px;
 	text-align: center;
 	padding-right: 30px;
 	padding-bottom: 30px;
}

.contact-subheader {
	font-family: 'Montserrat', sans-serif;
 	font-size: 20px;
 	text-align: left;
 	padding-right: 30px;
 	padding-bottom: 20px;
}
.contact-grid {
	background-color: #FFBFA3;
 	font-family: 'Montserrat', sans-serif;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}
.contact-container {
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	padding: 30px;
	padding-bottom: 50px;
	margin-left: 225px;
	margin-bottom: 30px;
	margin-top: 30px;
}

.contact-image {
	width: 500px;
	height: 807px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-top: 30px;
}

.footer {
	font-family: 'Yeseva One', cursive;
	background-color: black;
	color: white;
	padding-top: 30px;
}






